/* 登入背景灰色 */
.login-page {
  min-height: 100vh;
  background-color: #f8f9fa;
}

/* 登入表單區塊 */
.login-card {
  width: 100%;
  max-width: 400px;
}

/* 自訂按鈕樣式 */
.btn {
  background-color: #1F5673;
  color: #fff;
}

.btn:hover {
  background-color: #174558;
  color: #fff;
}

.btn-outline-brand {
  background-color: #fff !important;
  color: #1F5673 !important;
  border: 1px solid #1F5673 !important;
}

.btn-outline-brand:hover {
  background-color: #fff !important;
  color: #174558 !important;
  border: 1px solid #174558 !important;
}

.btn-disable-solid {
  background-color: #90484C !important;
  color: #fff !important;
  border: none !important;
}
.btn-enable-solid {
  background-color: #3D6E73 !important;
  color: #fff !important;
  border: none !important;
}
.btn-warn-solid {
  background-color: #736029 !important;
  color: #fff !important;
  border: none !important;
}
.btn-warn-solid:hover {
  background-color: #5a4a1b !important;
  color: #fff !important;
  border: none !important;
}
.btn-upgrade{
  background-color: #fff !important;
  color: #505050 !important;
  border: none !important;
}
  

/* 品牌文字樣式 */
.brand-title {
  color: #1F5673;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; /* OTTER POINT 全部大寫 */
}

.brand-title_white {
  color: #1F5673;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase; /* OTTER POINT 全部大寫 */
}

/* 超連結小字 */
.link-like {
  color: #1F5673;
  cursor: pointer;
  text-decoration: underline;
}

.link-like:hover {
  color: #174558;
}

/* 品牌色文字 */
.text-brand {
  color: #1F5673;
}

.text-brand:hover {
  color: #174558;
}

/* 品牌色背景 */
.bg-brand {
  background-color: #1F5673; 
}

.bg-enable{
  background-color: #3D6E73; 
}

.bg-disable{
  background-color: #90484C; 
}