:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: #212529;
  background-color: #f8f9fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #f8f9fa;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a:hover {
  color: #0a58ca;
  text-decoration: none;
  font-weight: bold;
}